.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}


.logo.glasses{
  fill:#f6f6f6;
}

.logo.glasses:hover {
  filter: drop-shadow(0 0 2em #f6f6f6);
}

.App {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 40px;
}